---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
	<p>This is where I will post about my journey learning Astro.</p>
	<ul>
		<li><a href='/posts/post-1/'>Post 1</a></li>
		<li><a href='/posts/post-2/'>Post 2</a></li>
		<li><a href='/posts/post-3/'>Post 3</a></li>
	</ul>
	<!--         
		<div id='Inner'>
			<h1>Lorem Ipsum</h1>
			<h4>
				"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
				consectetur, adipisci velit..."
			</h4>
			<h5>
				"Non c’è nessuno a cui piaccia il dolore in sé, che lo ricerchi e che
				voglia riceverlo, semplicemente perché è dolore..."
			</h5>
			<hr />
			<div id='Content'>
				<div class='boxed'>
					<div id='lipsum'>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
							vel hendrerit tortor, in sagittis risus. Morbi ut purus sed purus
							viverra suscipit egestas gravida leo. Quisque semper vehicula
							libero, egestas facilisis arcu lacinia vitae. Pellentesque maximus
							molestie tempor. Fusce varius ac felis eget sollicitudin. Mauris
							eros dui, interdum vel felis pretium, vestibulum convallis ante.
							Maecenas rutrum, arcu a bibendum vestibulum, ligula nunc mattis
							quam, quis tincidunt eros enim vel enim. Morbi nec augue sed dui
							varius varius sed eu lorem. Cras ut lectus at augue tincidunt
							consectetur. Etiam sit amet metus non sapien placerat finibus. Sed
							eget commodo ligula. In ultricies aliquet urna eget aliquam.
							Phasellus aliquet fermentum enim eget accumsan. Proin vitae
							vehicula risus, quis dictum nulla. Integer condimentum elit vitae
							nunc consectetur viverra.
						</p>
						<p>
							Nullam semper efficitur fermentum. Mauris interdum vitae tellus
							sit amet semper. Curabitur massa justo, dignissim ac massa eu,
							elementum semper erat. Integer ac condimentum libero, at commodo
							velit. Nam diam est, rhoncus eget auctor in, euismod mollis ex.
							Maecenas id ipsum mauris. Pellentesque semper sodales urna eu
							sagittis. Curabitur porta tincidunt varius. Donec quis iaculis ex.
							Suspendisse vitae dictum justo, eget luctus elit. Quisque
							tincidunt lectus eget venenatis faucibus. Duis nec pharetra
							tortor.
						</p>
						<p>
							Integer pretium erat ac augue pretium consectetur. Suspendisse
							lorem magna, auctor ut eleifend et, sodales a erat. Sed eget enim
							finibus, pulvinar felis eget, aliquet felis. Cras tortor velit,
							auctor sed metus sit amet, mattis condimentum justo. Integer
							auctor tellus et mauris molestie placerat. Sed tempus ligula et
							lacinia rhoncus. Nulla enim ipsum, porttitor et suscipit a,
							aliquet sit amet metus. Quisque venenatis mauris eget rhoncus
							laoreet. Quisque imperdiet ipsum a eros tincidunt, ac iaculis
							tellus gravida. Donec fermentum imperdiet augue, vitae iaculis mi
							hendrerit a. Suspendisse potenti.
						</p>
						<p>
							Maecenas iaculis pharetra orci, quis convallis nisi finibus ut.
							Duis sit amet aliquet magna. Quisque ipsum metus, condimentum sit
							amet suscipit sit amet, malesuada sit amet enim. Sed egestas vel
							lacus at eleifend. Suspendisse vel lobortis nulla. Pellentesque
							dictum eu massa sit amet pharetra. Donec quis orci lorem. Quisque
							eget eros enim. Sed ut risus purus. Donec massa tortor, fermentum
							vitae rhoncus non, porta ut ipsum.
						</p>
						<p>
							Nullam efficitur luctus imperdiet. Ut risus mi, porttitor vel
							mauris in, maximus dapibus nisi. Praesent cursus tincidunt
							feugiat. Praesent sed lacus a purus faucibus venenatis.
							Suspendisse ut libero convallis massa blandit tincidunt. Fusce
							congue quam vel eros pellentesque, vel molestie sapien molestie.
							Pellentesque iaculis, lorem imperdiet fringilla accumsan, est nisi
							tempus nibh, eget pretium leo velit quis arcu. Sed eget pharetra
							ligula.
						</p>
					</div>
					<hr />
				</div>
			</div>
		</div> -->
</BaseLayout>
