---
import BaseLayout from '../layouts/BaseLayout.astro';
import ReactCounter from '../components/ReactCounter';

// Style imports
import '../styles/Counter.css';
const pageTitle = 'React counter';
---

<BaseLayout pageTitle={pageTitle}>
	<p>This is a react counter.</p>
	<ReactCounter client:visible />
</BaseLayout>
